{{define "footer"}}
<footer>
  <div class="logo">
    <a href="#">
      <h1>Wandering</h1>
      <h4>records</h4>
    </a>
  </div>
  <div>
    <p class="footer-categories">Categories</p>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Work With Us</a></li>
      <li><a href="#">Terms & Privacy Policy</a></li>
      <li><a href="#">Player How-To Guides</a></li>
      <li><a href="#">Flexible Payment Options</a></li>
      <li><a href="#">Shipping & Returns</a></li>
      <li><a href="#">Gift Certificates</a></li>
      <li><a href="#">Journal</a></li>
      <li><a href="#">Sitemap</a></li>
    </ul>
  </div>
  <div>
    <p class="footer-sections">Sections</p>
    <ul>
      <li><a href="#">What's New</a></li>
      <li><a href="#">Records</a></li>
      <li><a href="#">Players</a></li>
      <li><a href="#">Vintage Vinyl</a></li>
      <li><a href="#">Classics</a></li>
      <li><a href="#">Memorabilia</a></li>
      <li><a href="#">Outlet</a></li>
    </ul>
  </div>
  <div>
    <p class="footer-follow">Follow Us</p>
    <div class="icons">
      <a class="" href="#"><i class="fab fa-instagram"></i></a>
      <a class="" href="#"><i class="fab fa-facebook"></i></a>
      <a class="" href="#"><i class="fab fa-pinterest"></i></a>
    </div>
    <p class="footer-payments">Secure Payments with</p>
    <div class="icons credit-cards">
      <a class="" href="#"><i class="fab fa-cc-visa"></i></a>
      <a class="" href="#"><i class="fab fa-cc-mastercard"></i></a>
      <a class="" href="#"><i class="fab fa-cc-discover"></i></a>
      <a class="" href="#"><i class="fab fa-cc-amex"></i></a>
      <a class="" href="#"><i class="fab fa-cc-paypal"></i></a>
    </div>
    <p class="footer-copyright">
      © Wandering Records 2021<br />All Rights Reserved
    </p>
  </div>
</footer>
{{end}}