{{define "header"}}
<header>
    <div class="menu">
      <a href="#"><i class="fas fa-bars"></i></a>
      <span>* Free Domestic Shipping on all Orders *</span>
    </div>
    <div class="logo">
      <a href="#">
        <h1>Wandering</h1>
        <h4>records</h4>
      </a>
    </div>
    <div class="links">
      <span class="search"
        ><a href="#"><i class="fas fa-search"></i></a> <input type="text"
      /></span>
      <span class="sign-in"
        ><a href="#"
          ><i class="far fa-user-circle"></i> <span>Sign In</span></a
        ></span
      >
      <span class="view-cart"
        ><a href="#"
          ><i class="fas fa-shopping-cart"></i> <span>View Cart</span></a
        ></span
      >
    </div>
  </header>
{{end}}